
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            scroll-behavior: smooth;
        }
        
        body {
            background-color: #181825;
            min-height: 100vh;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        }
        
        #publish {
            margin: 15px;
            padding: 10px;
        }
        
        #publish h1 {
            color: #d8d7d5;
            margin-bottom: 8px;
        }
        
        #publish ul {
            list-style: none;
            list-style-position: inside;
            color: whitesmoke;
        }
        
        #publish li {
            display: grid;
            grid-template-columns: 1fr auto auto auto;
            align-items: center;
            background: #201e30;
            border-radius: 4px;
            padding: 10px;
            margin-top: 3px;
            transition: transform 0.3s ease;
            cursor: pointer;
            word-break: break-all;
        }
        
        #publish li:hover {
            background: #23233a;
            transform: scale(1.029);
        }
        
        #form {
            margin: 15px;
            padding: 10px;
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
        }
        
        [type="text"] {
            background-color: #eceae7;
            border: 0;
            padding: 7px;
            border-radius: 3px;
            margin-right: 4px;
        }
        
        [type="text"]:focus {
            outline: none;
        }
        
        [type="button"],
        [type="submit"] {
            background-color: #26418d;
            border: 0;
            border-radius: 3px;
            color: wheat;
            padding: 7px;
        }
        
        [type="button"]:active,
        [type="submit"]:active {
            background-color: #38295e;
        }
        
        .editBtn {
            background-color: #127e2a;
            border: 0;
            border-radius: 4px;
            color: wheat;
            padding: 5px;
            margin-right: 4px;
        }
        
        .delBtn {
            background-color: #a31515;
            border: 0;
            border-radius: 4px;
            color: wheat;
            padding: 5px;
            margin-right: 4px;
        }
        
        #modalEdit::backdrop,
        #modalDelete::backdrop {
            background-color: rgba(0, 0, 0, 0.212);
            backdrop-filter: blur(10px);
        }
        
        #modalEdit,
        #modalDelete {
            border: 0;
            padding: 15px;
            border-radius: 6px;
            margin: auto;
        }
        
        #modalDelete {
            text-align: center;
        }
        
        #modalDelete p {
            margin-bottom: 10px;
        }
        
        #modalEdit h1 {
            margin-bottom: 10px;
        }
        
        #modalEdit textarea {
            margin-bottom: 10px;
            height: 100px;
            width: 100%;
            border-radius: 6px;
            border: solid rgb(116, 116, 116) 1px;
        }
        
        #modalEdit textarea:focus {
            outline: none;
        }
        
        .container {
            max-width: 350px;
            margin: 50px auto 0 auto;
            padding: 25px 0;
            background-color: #0e0c18;
            border-radius: 6px;
        }
        
        .warn {
            background-color: #e48e48;
            color: #4b2b02;
            padding: 10px;
            margin: 25px;
            border-radius: 4px;
            transition: transform 0.3s ease;
        }
        
        .warn:hover,
        .info:hover {
            transform: translate(0px, -8px);
        }
        
        .info {
            background-color: #495f80;
            color: #cfd0d4;
            padding: 10px;
            margin: 25px;
            border-radius: 4px;
            transition: transform 0.3s ease;
        }
        
        .emptyMsg {
            color: #c73421;
        }